<div class="panel panel-default">
  <div class="panel-heading ">
    <i class="fa fa-line-chart fa-fw"></i> Quote Timeline
  </div>
  <div class=panel-body>
    <%= Faker::StarWars.quote %>
    <canvas id="task_line_chart" class="chart"></canvas>
  </div>
</div>
